* {
    margin: 0;
}

section {
    margin: 120px 140px;
    background-color: #FFFFFF;
}

.header {
    color: #383838;
    line-height: 47px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
}

.line {
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    display: block;
    margin: 10px auto 90px;
}
.offers {
    display: flex;
    justify-content: space-between;
}
.offer {
    text-align: center;
    justify-content: space-between;
}

.offer_type {
    margin-top: 55px;
}
